@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .title{
    font-size: 1.2rem;
    font-weight: 600; 
    padding-bottom: 1rem;
    text-decoration: underline;
    color: green;
  }
  .tic_tac{
    width: 50vmin;
    height: 50vmin;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    // border: 1px solid lightgreen;
    .square{
      background: none;
      
      cursor: pointer;
      transition: all 200ms ease-in-out;
      text-align: center;
      border: none;
      // border: 1px solid lightgreen;
      font-size: 5vmin;
      font-weight: 600;
      font-family: 'Happy Monkey';
      &:nth-child(-n + 6){
        // background-color: red;  
        border-bottom: 3px solid lightgreen;
      }
      &:nth-child(3n + 3){
        border-left: 3px solid lightgreen;
      }
      &:nth-child(3n + 1){
        border-right: 3px solid lightgreen;
      }
      

      &.O{
        color: red;
      }
      &.X{
        color: blue;
      }
      &.un_ticked{
        position: relative;
        &::after{
          content: var(--placeholder,'');
          position: absolute;
          top: 0;
          left: 0;
          // opacity: 0;
          width: 100%;
          height: 100%;
          color: lightgreen;
          transition: all 200ms ease-in-out;
          // text-align: center;
          font-size: 5vmin;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
        }
        &:hover, &:focus{
          &::after{
            opacity: 1;
            
          }
        }
      }
        
    }
  }
  .player{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: green; 
  }
  .board{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: rgba(#C0C0C0,1);
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none){
      background-color: rgba(#C0C0C0,.3);
      backdrop-filter:  saturate(180%) blur(10px);
    }
    @supports ( -moz-appearance:none ){
      background-color: rgba(#C0C0C0,.8);
    }
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 200ms ease-in-out;
    transform: scale(0);
    .winner{
      font-family: "Happy Monkey";
      padding: 10vmin;
      border-radius: 11px;
      background-color: white;
      font-size: 5vmin;
      color: green;
    }
    .rst_btn{
      padding: 1rem;
      border-radius: 11px;
      font-size: 2vmin;
      margin-top: 1rem;
      background-color: green;
      color: white;
      font-family: "Happy Monkey";
      font-weight: bold;
      border: none;
      transition: all 100ms cubic-bezier(.15,1.07,.92,.29);
      &:hover{
        color: green;
        background-color: white;
      }
    }
    &.show{
      transform: scale(1);
    }
  }
  section#gstart{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 200;
    transition: all 500ms ease-in-out; 
    transform: scale(0);
    &.show{
        transform :scale(1);
    }
    .modal{
        display:flex;
        background-color: white;
        justify-content:center;
        align-items:center;
        min-height: 50vmin;
        min-width: 50vmin;
        flex-flow: column;
        border-radius: 11px;
        border: 1px solid lightgreen;
        .prompt{
            color:green;
            font-size: 3vmin;
            font-weight: bold;
        }
        .actions{
            display: flex;
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            margin-top:2rem;
            button{
                cursor:pointer;
                font-size:2vmin;
                flex: 0 0 45%;
                min-height: 50px;
                background-color: lightgreen;
                border-radius: 5px;
                border: none;
                transition: all 200ms ease-in-out;
                &:hover{
                    background-color: green;
                    color: white;

                }
            }
        }
    }    
  }
}
